@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

span.reg {
  font-size: 10px;
  font-weight: 100;
}

img {
  width: 100%;
}

header {
  background: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  display: table;
  z-index: 999;
  width: 100%;
  border-bottom: 2px solid rgb(198, 197, 197);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2em ;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(134, 133, 133);
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  right: 0;
  background: #fff;
  width: 75%;
  border-left: 2px solid rgb(198, 197, 197);
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
  transform: translate(100%, 0); 
  border-top: 2px solid rgb(198, 197, 197);
}

.nav-items {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 2em;
  height: 100vh;
}

.nav-item {
  padding: 1em 0;
}

nav li {
  margin-bottom: 1em;
  margin-right: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out 250ms;
}

nav a:hover {
  color: #008248;
}

.btns {
  opacity: 0;
  transition: opacity 250ms ease-in-out 250ms;
  margin: .75em 0;
  border-top: 2px solid rgb(207, 207, 207);
  padding-top: 2em;
}

.signin-btn,
.join-btn {
  padding: .75em 1.5em;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: .75rem;
  margin-bottom: 2em;
}

.signin-btn {
  margin-right: 1em;
  background: #fff;
  border: 1px solid rgb(45, 45, 45);
}

.signin-btn:hover {
  background: rgb(233, 231, 231);
  transition: 300ms;
}

.join-btn {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

.join-btn:hover {
  opacity: .7;
  transition: 300ms;
}

.join-in:hover {
  text-decoration: none;
}

.location a {
  text-transform: none;
  font-size: .85rem;
  font-weight: 600;
}

.location:hover {
  color: #008248;
}

i {
  margin-right: .65em;
  font-size: 1.3rem;
}

.logo {
  margin: 0;
  width: 5em;
}

.nav-toggle:checked ~ nav {
 transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav div.btns {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.rewards-banner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #1e3932; 
}

.reward-title {
  text-transform: uppercase;
  font-size: .85rem;
  letter-spacing: 1px;
  margin: 5em 0 2.5em 0;
  color: #fff;
  background: #1e3932;
  padding: 2em 0 1em 1em;
}

.banner-btn {
  padding: .60em 1.2em;
  border-radius: 50px;
  font-weight: 600;
  font-size: .80rem;
  border: 1px solid #fff;
  background: #1e3932;
  color: #fff;
  margin-right: 1em;
  cursor: pointer;
}

.banner-btn:hover {
  background: rgba(88, 88, 88, 0.7);
  transition: 300ms;
}

.hero {
  text-align: center;
  background: #d4e9e2;
  background-image: url('../images/starbuck-bg.webp');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 70%;
  margin-top: -30px;
  padding: 1.5em 0 3em;
}

.hero-title {
  font-size: 1.53rem;
  margin: 0 3.5em 1em;
  text-transform: uppercase;
}

.hero-btn {
  background: #008248;
  color: #fff;
  font-size: .95rem;
  font-weight: 500;
  margin: 3em 0 2em 0;
  padding: .5em 1em;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.hero-btn:hover {
  opacity: .9;
}

.hero-desc {
  margin: 0 2.85em
}

.hero-sub a {
  display: flex;
  justify-content: center;
  font-size: .90rem;
  color: #000;
  margin: -1em;
  margin-bottom: 10em;
}

.hero-full {
  visibility: hidden;
}

.getting-sec {
  text-align: center;
  margin: 0 1em;
}

.getting-title {
  margin: 1em 0 1em;
  font-weight: 600;
}

.getting-desc {
  font-size: .85rem;
  margin-bottom: 2em;
}

.download,
.order,
.earn {
  display: flex;
  text-align: left;
  margin-bottom: 2em;
}

.star-one,
.star-two,
.star-three {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.download-title,
.order-title,
.earn-title {
  font-size: 1rem;
  margin-bottom: 1em;
}

.download-desc,
.order-desc,
.earn-desc {
  font-size: .85rem;
}

.join-link,
.learn-link {
  color: #008248;
}

.favorites-sec {
 text-align: center;
 background: #e4f3ee;
 width: 100vw;
 box-shadow: 0 8px 6px -6px black;
}

.favorites-title {
  padding-top: 3em;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.star-items {
  display: flex;
  margin: 0;
  padding: 0;
}

.star-item {
  list-style: none;
  font-size: 1.3rem;
  padding: 1em 0;
  margin: 0 .5em;
  font-weight: 600;
  margin: 0 auto;
}

.number.current {
  border-bottom: 3px solid green;
  padding-bottom: 1em;
 
}

.number {
  text-decoration: none;
  color: #000;
}

.star {
  color: goldenrod;
  font-size: .80em;
}

.customize {
  background: #d4e9e2;
  text-align: center;
}

.coffee-img {
  width: 100%;
  margin-top: 2em;
}

.customize-body {
  margin: 2em 0;
}

.customize-title {
  margin-bottom: 1em;
}

.customize-desc{
  font-size: .85rem;
  margin: 0 2em;
  padding-bottom: 3em;
  line-height: 1.7;
}

.endless-icons {
  margin: 0 1em;
}

.endless {
  text-align: center;
}

.endless-title {
  margin: 3em 0 1em;
}

.endless-desc {
  font-size: .85rem;
  margin: 0 1em 2em;
}

.fun-freebies-icon,
.order-icon,
.get-icon {
  display: flex;
  width: 100%;
  margin-top: 4em;
}

.fun-img,
.order-img,
.get-img {
  width: 7em;
  height: 7em;
  margin-right: 1em;
}

.fun-body,
.order-pay-body ,
.get-body {
  text-align: left;
}

.get-body {
  margin-bottom: 4em;
}

.fun-title,
.order-pay-title,
.get-title {
  font-size: 1rem;
  margin-bottom: 1em;
}

.fun-desc,
.order-pay-desc,
.get-desc {
  font-size: .85rem;
  margin-bottom: 1em;
}

.learn-more {
  font-size: .85rem;
  color: #008248;
}

.learn-more:hover {
  text-decoration: none;
}

.cash-sec {
  background: #f3f1e7;
  padding: 3em 1em;
}

.cash {
  text-align: center;
}

.cash-title {
  margin-bottom: 1em;
}

.cash-desc {
  font-size: .85rem;
  margin-bottom: 3em;
}

.one-per,
.two-per,
.three-per {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.one-per p,
.two-per p,
.three-per p {
  font-size: .85rem;
}

.two-star,
.three-star {
  padding-top: 2em;
}

.scan,
.preload,
.earn {
  margin-bottom: 4em;
}

.scan-img,
.save-img,
.preload-img,
.register-img,
.earn-img {
  width: 7em;
  margin-right: 1em;
}

.scan-body,
.save-body,
.preload-body,
.reg-body,
.earn-body {
  display: flex;
  margin-top: 2em;
}

.scan-title,
.save-title,
.preload-title,
.reg-title,
.earn-title {
  font-weight: 600;
  font-size: .95rem;
  margin-bottom: 1em;
}



@media (min-width: 650px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: flex;
    align-items: center;
    height: 6em;
  }

  .logo-img {
    width: 6em;
  }

  nav {
    all: unset;
    font-size: .85rem;
    width: 100%;
  }

  nav a {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    opacity: 1;
  }

  .nav-items {
    height: auto;
    display: flex;
   
    grid-template-rows: 1fr;
    border: 1px solid green;
  }

  nav li {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  button {
    margin-right: 1em;
    padding: .5em 1.5em;
    border-radius: 10em;
    border: none;
  }

  .btns {
    display: flex;
    border: 1px solid red;
    opacity: 1;
    margin-left: auto;
    margin-right: 2em;

  }

  .location {
    display: flex;
    font-size: .70rem;
    color: red;
    order: -9999;
    margin: 0 2em;
  }

  .location:hover {
    color:#008248 ;
  }

  
}